<ion-content *ngIf="!userService.loggedIn" class="ion-padding login-page">
  <video #backgroundVideo id="background-video" autoplay loop muted poster="assets/247107_medium.jpg">
    <source src="assets/247107_medium.mp4" type="video/mp4">
  </video>
  <!--
  <ion-accordion-group class="login-debug">
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Debug</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>isLoading$: {{auth.isLoading$ | async}}</p>
        <p>isAuthenticated$: {{auth.isAuthenticated$ | async}}</p>
        <p>loggedIn: {{userService.loggedIn}}</p>
        <p>activeUser: {{userService.activeUser | json}}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  -->

  <ion-text>
    <h1>RealmWalker</h1>
  </ion-text>

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <!--
    <ion-button color="dark" expand="full" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
      Log out
    </ion-button>
    -->
  </ng-container>

  <ng-template #loggedOut>
    <ion-button color="dark" expand="full" fill="clear" (click)="handleLogin()" class="login-button">Log in</ion-button>
  </ng-template>
</ion-content>
