<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="activeUser">
    <ion-item>
      <ion-checkbox
        [(ngModel)]="activeUser!.preferences.sound"
        (ionChange)="onCheckboxChange('sound', $event)"
        [app-sound]="false"
      >
        Sound
      </ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="activeUser!.preferences.itemFrames"
        (ionChange)="onSelectChange('itemFrames', $event)"
        label="Item frames"
        interface="popover"
      >
        <ion-select-option value="None">None</ion-select-option>
        <ion-select-option value="Rarity">Rarity</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-checkbox
        [(ngModel)]="activeUser!.preferences.dungeonLevels"
        (ionChange)="onCheckboxChange('dungeonLevels', $event)"
      >
        Levels on map
      </ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox
        [(ngModel)]="activeUser!.preferences.developer"
        (ionChange)="onCheckboxChange('developer', $event)"
      >
        Developer mode
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <p><a (click)="goToCredits()">Credits</a></p>
  <p>User ID: {{activeUser?.id}}</p>
  <ion-button expand="block" fill="solid" color="light" (click)="logout()">Log out</ion-button>
</ion-footer>
