.inventory-list {
  padding-left: 0;
  padding-right: 0;
}
.inventory-item {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0.1em;

  .item-detail {
    font-size: 0.8em;
    margin: 0.5em 0;
  }
  .item-bonus {
    color: #2dd36f;
    margin: 0;
  }
}
