.monster-level {
  font-style: italic;
  font-weight: 300;
}
.quote-box {
  background: #F8F3D6;
  border-width: 2px 2px;
  border-style: double solid;
  border-color: #D2B56B #D2B56B;
  color: #58170E;
  padding: 0.5em;
}
.assessment-trivial, .assessment-easy { color: var(--ion-color-success) }
.assessment-risky { color: var(--ion-color-warning) }
.assessment-dangerous, .assessment-deadly { color: var(--ion-color-danger) }
