<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Location</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject && !loading">
  <div class="padding-10">
    <app-modal-header
      [title]="locationObject.name"
      icon="/assets/icon/location/base.svg"
      [iconBorder]="false"
    >
      <!--
      <ion-chip class="coin-icon header-coin-insert">
        <ion-icon src="/assets/icon/two-coins.svg"></ion-icon>
        <ion-label>{{inventory?.gold | number}}</ion-label>
      </ion-chip>
      -->
    </app-modal-header>
  </div>
  <div class="padding-10">
    <ion-segment [(ngModel)]="inventoryView">
      <ion-segment-button value="inventory">
        <ion-label>{{user.name}}'s inventory</ion-label>
      </ion-segment-button>
      <ion-segment-button value="storage">
        <ion-label>Storage</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <p *ngIf="inventoryView === 'inventory' && !inventory?.items?.length" class="ion-text-center">Empty</p>
  <ion-grid *ngIf="inventoryView === 'inventory'; else storage" class="rw-list no-padding-top">
    <ion-row *ngFor="let item of inventory?.items" class="rw-list-item">
      <ion-col size="auto">
        <app-item-icon [item]="item"></app-item-icon>
      </ion-col>
      <ion-col>
        <ion-label>{{item.name}}</ion-label>
        <p class="detail-line compact">
          {{item.name}}
          <span *ngIf="item.equipped">• Equipped</span>
        </p>
        <!--
        <p class="detail-line">
          {{item.rarity}} {{item.itemType}}<span *ngIf="item.itemType === 'weapon'">, {{item.twoHanded ? 'two-handed' : 'one-handed'}}</span>
        </p>
        <ion-text color="success">
          <p *ngFor="let bonus of item.bonuses" class="detail-line compact">{{bonus}}</p>
        </ion-text>
        -->
      </ion-col>
      <ion-col size="auto">
        <ion-button
          size="small"
          color="dark"
          fill="solid"
          (click)="moveItemToStorage(item)"
          [disabled]="false"
        >Move to storage</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #storage>
    <p *ngIf="!locationObject.inventory.items.length" class="ion-text-center">Empty</p>
    <ion-grid class="rw-list no-padding-top">
      <ion-row *ngFor="let item of locationObject.inventory.items" class="rw-list-item">
        <ion-col size="auto">
          <app-item-icon [item]="item"></app-item-icon>
        </ion-col>
        <ion-col>
          <ion-label>{{item.name}}</ion-label>
          <p class="detail-line compact">
            {{item.name}}
          </p>
          <!--
          <p class="detail-line">
            {{item.rarity}} {{item.itemType}}<span *ngIf="item.itemType === 'weapon'">, {{item.twoHanded ? 'two-handed' : 'one-handed'}}</span>
          </p>
          <ion-text color="success">
            <p *ngFor="let bonus of item.bonuses" class="detail-line compact">{{bonus}}</p>
          </ion-text>
          -->
        </ion-col>
        <ion-col size="auto">
          <ion-button
            size="small"
            color="dark"
            fill="solid"
            (click)="pickUpItemFromStorage(item)"
            [disabled]="false"
          >
            Pick up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
