<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Battle site</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject">
  <div class="padding-10">
    <app-modal-header
      icon="/assets/icon/location/battle-site.svg"
      description="A battle recently took place here."
      descriptionStyle="plain"
      [quote]="locationObject._description"
    ></app-modal-header>

    <!-- BUTTONS -->
    <ion-button *ngIf="locationObject.searchable!; else notSearchable" expand="block" color="primary" (click)="searchDungeon()" [disabled]="loading">
      <ion-icon color="secondary" slot="start" src="/assets/icon/magnifying-glass.svg"></ion-icon> Search the area
    </ion-button>

    <!-- LOOT -->
    <div *ngIf="locationObject.alreadySearched">
      <p>You've searched this area before</p>
    </div>
    <div *ngIf="loot">
      <div *ngIf="loot?.empty === false; else noLoot">
        <p>
          You found the following:<br>
          {{loot!.formattedLootList()}}
        </p>
      </div>
      <ng-template #noLoot>
        <p>You found nothing.</p>
      </ng-template>
    </div>

    <!-- BUTTONS -->
    <ng-template #notSearchable>
      <ion-button expand="block" fill="solid" color="dark" (click)="returnToMap()">Journey onwards</ion-button>
    </ng-template>
  </div>
</ion-content>
