.portrait {
  border: 1px solid var(--ion-color-medium);
}
h1 {
  font-size: 24px;
}
.description {
  margin: 0.3em 0 3.5px 0;
  font-style: italic;

  &.capitalize {
    font-weight: 300;
    text-transform: capitalize;
  }
}
