<ion-grid class="ion-no-padding">
  <ion-row class="ion-align-items-center">
    <ion-col *ngIf="icon" size="auto" class="ion-padding-end">
      <ion-icon [src]="icon" [color]="iconColor" class="header-icon-size" [ngClass]="{'portrait': iconBorder}"></ion-icon>
    </ion-col>
    <ion-col class="relative">
      <ion-text [color]="titleColor">
        <h1 *ngIf="title" class="ion-no-margin">{{title}}</h1>
        <p *ngIf="description" class="description">{{description}}</p>
      </ion-text>
      <ng-content></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
<p *ngIf="quote" class="quote-box">{{quote}}</p>
