<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Credits</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="danger">
    <h1>RealmWalker</h1>
  </ion-text>
  <p>Design and Development by Alice Carlsson</p>
  <small>
    <p>Icons by game-icons.net. Some icons have been altered.</p>
    <p>Special thanks to: Lara L, Hanna B</p>
  </small>
</ion-content>
<ion-footer>
  <p></p>
</ion-footer>
