<ion-app>
  <div *ngIf="auth.isLoading$ | async; else ready">
    <!--<h1>Loading...</h1>-->
  </div>
  <ng-template #ready>
    <ion-router-outlet></ion-router-outlet>
  </ng-template>
  <div *ngIf="userService.activeUser?.preferences?.developer" class="debug">
    <span *ngIf="location.permissionError; else coordinates">permissionError=true</span>
    <ng-template #coordinates>{{location.latitude}}, {{location.longitude}}</ng-template>
    <div>Server time: {{serverTime | date:'yyyy-MM-dd HH:mm:ss' : 'UTC'}}</div>
    <div>Local time: {{clientTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
    <div>TimeDiff: {{api.timeDifference}}ms</div>
  </div>
</ion-app>
