<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Landmark</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject && !loading">
  <div class="runestone-flex-wrap">
    <div class="padding-10">
      <app-modal-header
        [title]="locationObject.name"
        icon="/assets/icon/location/runestone.svg"
        [iconBorder]="false"
        iconColor="medium"
      >
      </app-modal-header>
    </div>
    <p class="runestone">{{locationObject.text}}</p>
    <div class="padding-10 runestone-controls">
      <div *ngIf="!locationObject.discovered; else discovered">
        <p>&nbsp;<!-- keep this to prevent layout jumps when discovering --></p>
        <ion-button expand="block" fill="solid" color="success" (click)="addToJournal()">Add to Journal</ion-button>
      </div>
      <ng-template #discovered>
        <p class="ion-text-center">
          <ion-text color="success"><ion-icon name="checkmark-sharp"></ion-icon></ion-text>
          <span>&nbsp;Saved to Journal</span>
        </p>
        <ion-button expand="block" fill="solid" color="dark" (click)="returnToMap()">Journey onwards</ion-button>
      </ng-template>
    </div>
  </div>
</ion-content>
