.runestone {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 1.5em 0.8em;
  min-height: 40%;
  border-style: double solid;
  border-width: 0 1px 1px 1px;
  background: #565659;
  border-color: #1c1c1e #1c1c1e;
  color: #232023;
  border-radius: 20px 20px 5px 5px;
  font-family: "CabinSketch", "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: justify;
  box-shadow: -12px -19px 60px 0px rgb(5 46 0 / 50%) inset;
  line-height: 1.25em;
  font-size: 0.95em;
}

p {
  min-height: 22.5px;
}

ion-icon {
  display: inline-block;
  font-size: 21px;
  vertical-align: middle;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.runestone-controls {
  padding-bottom: 10px;
}
