<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Landmark</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject && !loading">
  <!--<div class="rw-flex-stack">-->
  <div class="padding-10">
    <app-modal-header
      title="Ley Line"
      icon="/assets/icon/location/ley-line.svg"
      [iconBorder]="false"
    >
    </app-modal-header>
  </div>
  <p class="runestone">{{locationObject.text}}</p>
  <div class="padding-10 runestone-controls">
    <ion-button expand="block" fill="solid" color="dark" (click)="returnToMap()">Journey onwards</ion-button>
  </div>
  <!--</div>-->
</ion-content>
