<ion-header class="map-toolbar">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button size="small" fill="clear" (click)="openInventoryModal()">
          <div class="button-column">
            <ion-icon slot="icon-only" src="/assets/icon/menu-icon-inventory.svg" class="menu-icon-inventory" color="medium"></ion-icon>
            <ion-label>Inventory</ion-label>
          </div>
        </ion-button>
        <ion-button size="small" fill="clear" (click)="openJournal()">
          <div class="button-column">
            <ion-icon slot="icon-only" src="/assets/icon/menu-icon-journal.svg" class="menu-icon-journal" color="medium"></ion-icon>
            <ion-label>Journal</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="userService.activeUser" (click)="openCharacterModal()" size="6" class="ion-text-center">
        <h1 class="player-title">{{userService.activeUser.name}}</h1>
        <p>Level {{userService.activeUser.xpLevelReport.level}}</p>
        <ion-progress-bar color="secondary" [value]="userService.activeUser.xpLevelReport.nextLevelProgress/100"></ion-progress-bar>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button size="small" fill="clear" (click)="openSettings()">
          <div class="button-column">
            <ion-icon slot="icon-only" src="/assets/icon/menu-icon-settings.svg" class="menu-icon-settings" color="medium"></ion-icon>
            <ion-label>Settings</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<div class="map" id="map"></div>

<ion-fab *ngIf="userService.activeUser?.base === null" slot="fixed" vertical="center" horizontal="start" class="flight-toolbar">
  <ion-fab-button id="open-build-menu" (click)="openConstructionModal()" size="small">
    <ion-icon name="construct-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
