.map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

ion-header {
  background: rgba(10, 10, 10, 0.8);

  ion-grid {
    padding: 4px 2px 1px;
  }
}
.map-toolbar {
  ion-col {
    padding: 0;
  }

  h1 {
    font-size: 20px;
    margin: 0 0 2px 0;
  }
  p {
    font-size: 10px;
    margin: 0 0 3px 0;
  }

  ion-button {
    --padding-start: 4px;
    --padding-end: 4px;
  }
  .button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ion-color-medium);
    text-transform: initial;

    ion-label {
      font-size: 10px;
      margin: 3px 0 3px 0;
      font-weight: normal;
    }
  }
  ion-icon {
    color: #ddd;
    width: 35px;
    height: 35px;

    &.menu-icon-inventory {
      width: 31px;
    }
  }
}

ion-modal.settings-drawer-modal::part(content) {
  width: 80%;
  right: 0;
  position: absolute;
}

app-item-icon {
  display: grid;
}
