.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;

  .marker-icon {
    position: absolute;
    font-size: 32px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    &.addon-icon {
      right: 0;
      top: -65%;
      width: 80%;
      height: 80%;
    }
  }

  &.location-type-base {
    background-color: var(--ion-color-primary);

    .marker-icon {
      opacity: 0.8;
      fill: #fff;
      width: 90%;
      height: 90%;
      left: 5%;
      top: 5%;
      border-radius: 50%;
    }
  }
}
