.modal-controls {
  padding-bottom: 10px;
  margin-top: auto;
}

.timer-box-wrap {
  margin-top: 5px;
}
.timer-box {
  color: #eee;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  text-align: center;

  p {
    margin: 2px;
  }
}
