<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Landmark</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject && !loading">
  <div class="rw-flex-stack">
    <div class="padding-10">
      <app-modal-header
        [title]="locationObject.name"
        [icon]="locationObject.icon"
        [iconBorder]="false"
        iconColor="medium"
      >
      </app-modal-header>
    </div>
    <p *ngIf="locationObject.inventory.items.length" class="ion-text-center">You find the following:</p>
    <p *ngIf="!locationObject.inventory.items.length" class="ion-text-center">There's nothing here.</p>
    <ion-grid class="rw-list no-padding-top">
      <ion-row *ngFor="let item of locationObject.inventory.items" class="rw-list-item">
        <ion-col size="auto">
          <app-item-icon [item]="item"></app-item-icon>
        </ion-col>
        <ion-col>
          <ion-label>{{item.name}}</ion-label>
          <p class="detail-line compact">
            {{item.rarity}} {{item.type}}<span *ngIf="item.type === 'weapon'">, {{item.twoHanded ? 'two-handed' : 'one-handed'}}</span>
          </p>
          <ion-text color="success">
            <p *ngFor="let bonus of item.bonuses" class="detail-line compact">{{bonus}}</p>
          </ion-text>
        </ion-col>
        <ion-col *ngIf="item.equipable" size="auto">
          <!--          <ion-button size="small" color="dark" [fill]="item.equipped ? 'solid' : 'outline'" (click)="toggleEquipped(item)">-->
          <!--            {{item.equipped ? '✔ Equipped' : 'Equip'}}-->
          <!--          </ion-button>-->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="locationObject.nextGrowthAt" class="timer-box-wrap">
        <ion-col class="timer-box">
          <p>Next item in: {{ locationObject.nextGrowthAt | countdown }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="padding-10 modal-controls">
      <div *ngIf="locationObject.inventory.items.length">
        <ion-button expand="block" fill="solid" color="success" (click)="collectAll()">Take all</ion-button>
      </div>
      <div>
        <ion-button expand="block" fill="solid" color="dark" (click)="returnToMap()">{{locationObject.inventory.items.length ? 'No thanks': 'Close'}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>
