<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Encounter</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="returnToMap()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="locationObject">
  <div class="padding-10">
    <app-modal-header
      [icon]="locationObject.monster.icon"
      [title]="locationObject.monster.name"
      [description]="'Level '+locationObject.monster.level+' '+locationObject.monster.classification"
      [quote]="locationObject.monster.description"
    ></app-modal-header>
    <!--
    <div *ngIf="analysis;" class="ion-text-center ion-margin-bottom">
      <h2>Assessment: <span [class]="'assessment-'+analysis.assessment.toLowerCase()">{{analysis.assessment}}</span></h2>
      <p class="detail-line compact">Base chance: {{analysis.baseChance}}%</p>
      <ion-text color="success">
        <p *ngFor="let modifier of analysis.modifiersPositive" class="detail-line compact">{{modifier}}</p>
      </ion-text>
      <ion-text color="danger">
        <p *ngFor="let modifier of analysis.modifiersNegative" class="detail-line compact">{{modifier}}</p>
      </ion-text>
      <h3>
        Chance of success: {{analysis.chanceOfSuccess}}%
        <span *ngIf="analysis.overkill">({{analysis.overkill}} overkill)</span>
      </h3>
    </div>
    -->
    <!--
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="secondary" (click)="analyze()" [disabled]="loading || analysis">
            <ion-icon color="secondary" slot="start" src="/assets/icon/magnifying-glass.svg"></ion-icon> Analyze
          </ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    -->

    <ion-button expand="block" fill="outline" color="dark" (click)="changeEquipment()" [disabled]="loading || loadingBattle">
      <ion-icon slot="start" src="/assets/icon/switch-weapon.svg"></ion-icon> Change equipment
    </ion-button>

    <ion-button expand="block" color="danger" (click)="battle()" [disabled]="loading">
      <ion-spinner *ngIf="loadingBattle; else battleCTA"></ion-spinner>
      <ng-template #battleCTA>
        <ion-icon slot="start" src="/assets/icon/light-sabers.svg"></ion-icon> Battle!
      </ng-template>
    </ion-button>
  </div>
</ion-content>
