/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.relative {position: relative}
.padding-10 {padding: 10px 10px 0}
.no-padding-top {padding-top: 0}
@font-face {
  font-family: 'Cinzel';
  font-weight: 400;
  src: url('./assets/fonts/Cinzel-Regular.ttf');
}
@font-face {
  font-family: 'Cinzel';
  font-weight: 500;
  src: url('./assets/fonts/Cinzel-Medium.ttf');
}
@font-face {
  font-family: 'Cinzel';
  font-weight: 600;
  src: url('./assets/fonts/Cinzel-SemiBold.ttf');
}
@font-face {
  font-family: 'CabinSketch';
  font-weight: 400;
  src: url('./assets/fonts/CabinSketch-Regular.ttf');
}
@font-face {
  font-family: 'CabinSketch';
  font-weight: 600;
  src: url('./assets/fonts/CabinSketch-Bold.ttf');
}
h1, h2, /*h3, h4, h5, h6*/ {
  font-family: "Cinzel", "Times New Roman", serif;
  font-weight: 500;
}
h1 {font-size: 26px}
h2 {font-size: 20px}
h3 {font-size: 16px}
p {
  margin-top: 0.5em;
  line-height: 1.3em;
}

ion-icon.header-icon-size {
  font-size: 60px;
}

ion-modal.floating-modal {
  --background: transparent;
  ion-backdrop {
    visibility: visible !important;
    z-index:0;
  }
  .ion-page {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 5%;
    width: 90%;

    >div {
      margin-bottom: 5%;
      /*min-height: 55%;*/
      background: var(--ion-color-light);
      box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.5);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
    }
  }
}

.ornate-frame-base {
  -webkit-mask-image: url(/assets/frame-corner.svg);
  content: "";
  position: absolute;
  background-color: rgb(230, 195, 153);
  width: 93px;
  height: 93px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  -webkit-mask-size: cover;
}
.ornate-frame-top {
  position: relative;
  &::before {
    @extend .ornate-frame-base;
    top: 0;
    left: 0;
    transform: scaleX(-1);
  }
  &::after {
    @extend .ornate-frame-base;
    top: 0;
    right: 0;
  }
}
.ornate-frame-bottom {
  position: relative;
  &::before {
    @extend .ornate-frame-base;
    bottom: 0;
    left: 0;
    transform: scale(-1);
  }
  &::after {
    @extend .ornate-frame-base;
    bottom: 0;
    right: 0;
    transform: scaleY(-1);
  }
}

.quote-box {
  background: #e7e2c7;
  border-width: 2px 2px;
  border-style: double solid;
  border-color: #D2B56B #D2B56B;
  color: #58170E;
  padding: 0.5em;

  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.65);
}

.coin-icon {
  color: #ffbf54;
  background: transparent;
  padding-right: 0;
  margin: 0 2px;
  ion-icon { fill: #ffbf54 }
}

.inventory-list {

  .inventory-list-item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 0.1em;
    align-items: center;

    .inventory-item-icon {
      font-size: 40px;
      margin-right: 6px;
    }
  }
}

.detail-line {
  font-size: 0.8em;
  margin: 0.5em 0;

  &.compact {
    margin: 0;
  }
}

.small-chip {
  height: 19px;
  padding: 0.5em;
  font-size: 0.7em;
  align-items: center;
}
