<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-header>
  <ion-toolbar>
    <ion-chip>
      <ion-icon name="prism" color="success"></ion-icon>
      <ion-label>0 (+0/s)</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="diamond-outline" color="secondary"></ion-icon>
      <ion-label>0</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map" id="map"></div>

  <ion-fab slot="fixed" vertical="center" horizontal="start" class="flight-toolbar">
    <ion-fab-button id="open-build-menu" size="small">
      <ion-icon name="construct-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="locationModalOpen" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]" (ionBreakpointDidChange)="modalBreakpointCheck($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="locationModalOpen = false">Close</ion-button>
          </ion-buttons>
          <ion-title>{{inspectedLocation?.type}}</ion-title>
          <ion-buttons slot="end">
            <!--<ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>-->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">{{inspectedLocation?.name}}</ion-label>
          <ion-label position="stacked">{{inspectedLocation?.type}}</ion-label>
        </ion-item>
        <ion-button (click)="battle()" [strong]="true">Battle</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #systemInfo trigger="open-build-menu">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Title</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="systemInfo.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item button *ngFor="let buildOption of buildMenu;" (click)='buildOption.f()'>
            <ion-icon name="{{buildOption.icon}}" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>{{buildOption.label}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
