header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;

  > * {
    width: auto;
    padding-right: 10px;
  }
}

ol {
  margin: 0;
  padding: 0 0.5em 0.5em;
  columns: 3;
  column-gap: 0.5em;
}
ul {
  margin: 0;
  padding: 0 0.5em 0.5em;
}
li {
  list-style: none;
  background-color: #2a2a2a;
  margin: 0 0 0.5em 0;
  padding: 0;
  -webkit-column-break-inside: avoid;

  &.highlight-relations {
    border: 3px solid darkred;
  }
  &.highlight-price {
    border: 3px solid greenyellow;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

ion-icon {
  border: 1px solid salmon;
  margin: 0;
  padding: 0;
}
