<ion-content [fullscreen]="true">
    <div *ngFor="let itemType of itemTypes">
      <h1>{{itemType}}</h1>
      <ol>
        <li *ngFor="let item of getItems(itemType)">
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon [src]="item.icon" color="dark" style="width: 60px; height: 60px;"></ion-icon>
              </ion-col>
              <ion-col>
                <div class="space-between-items">
                  <span><strong>{{item.name}}</strong> #{{item.id}}</span>
                  <span>{{item.rarity}}</span>
                </div>
                <p *ngFor="let text of item.bonuses">{{text}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </li>
      </ol>
      <hr>
    </div>
</ion-content>
